[submodule "zed_catkin_ws/src/https:/github.com/HichDh/3D-action-recognition/tree/main/zed_catkin_ws/src/mmdetection_ros"]
	path = zed_catkin_ws/src/https:/github.com/HichDh/3D-action-recognition/tree/main/zed_catkin_ws/src/mmdetection_ros
	url = https://github.com/open-mmlab/mmaction2/
